html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto; 
  padding: 0 20px;
  box-sizing: border-box;
}

main {
  flex: 1;
}

body {
  font-family: Trebuchet, sans-serif;
  background-color: white;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2d84;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo-link img {
  height: 100px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-grow: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 16px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: inherit;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 16px;
  margin-top: 0px;
}

.dropbtn i {
  margin-left: 6px;
  vertical-align: middle;
}
.dropbtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2d84;
  min-width: 200px;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px;
  display: block;
  text-decoration: none;
}

.show {
  display: block;
}


.search-container {
  display: flex;
  align-items: center;

  gap: 0;
}

.searchBox {
  display: flex;
  align-items: stretch;
}

.searchBox input[type="text"],
.searchBox button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

.searchBox input[type="text"] {
  height: 43px;
  padding-left: 10px;
}



.searchBox button {
  height: 43px;
  width: 50px;
  background-color: #212121;
  cursor: pointer;
  border-radius: 0;
}


h1 {
  font-size: 70px;
  color: black;

}

.intro {
  font-size: 28px;
  color: black;
}

.Support{
  font-size: 28px;
  color: black;
}
.support-heading {
  font-size: 32px;
  color: black;
}

p, li {
  font-size: 29px;
  color: black;
}


.form-container {
  color: black;
  padding-top: 20px;
}

form {
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

label {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  background-color: #2c2d84;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005b8e;
}

.support-result {
  margin-top: 20px;
  font-size: 18px;
  color: black;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*
footer {
  background-color: #2c2d84;  
  padding: 20px;
  text-align: center;
  color: white;  
  font-size: 20px;
  margin-top: auto;
}

footer p {
  margin: 0;
  color: white;  
} */

.subscribe{
  background-color: #2c2d84;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.wrapper_large{
  width: 90%;
  max-width: 1090px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.subscribe_heading{
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}

.subscribe_text{
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-bottom: 30px;
}

.button_subscribe{
  background-color: #2c2d84;
  border: 2px solid #fff;
  width: 50%;
  text-decoration: none;
}

.button{
  font-size: 1.125rem;
  outline: 1px solid transparent;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  min-height: 45px;
  padding: 5px 20px;
}

.button_subscribe:hover{
  background-color: white;
  color: #2c2d84;
}

/*Footer styling*/
footer{
  background-color: #212121;
  padding-bottom: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_wrapper{
  max-width: 1090px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.footer_nav a{
  font-size: .875rem;
  color: white;
  text-decoration: underline;
  padding: .25rem;
}

.footer_nav a:hover{
  color: #999;
}

footer p {
  margin: 0;
  color: white;  
}

.web_links{
  margin-top: 20px;
}

.lower_footer p{
  color: white;
  font-size: .875rem;
  margin-top: 20px;
  a{
    text-decoration: underline;
    color: #fff;
  }
}

.lower_footer p a:hover{
  color: #999;
}


.media a{
  background-color: white;
  color: #212121;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: .875rem;
  padding: 7px;
  margin: .25rem;
}


@media (max-width: 768px) {
  .logo-link img {
    height: 70px;
    margin-right: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-links {
    justify-content: flex-start;
    gap: 10px;
  }

  h1 {
    font-size: 40px;
    margin-left: 20px;
  }

  .intro,
  .Support,
  .support-heading,
  .form-container {
    margin-left: 20px;
    font-size: 20px;
  }

  p, li {
    font-size: 18px;
  }

  form {
    width: 95%;
    padding: 10px;
  }

  .modal-content {
    width: 90%;
    margin-top: 30%;
  }

  footer {
    font-size: 16px;
    padding: 15px;
    margin: 0;
  }

  .searchBox input[type="text"] {
    height: 30px;
    padding-left: 8px;
    font-size: 14px;
  }

  .searchBox button {
    height: 30px;
    width: 40px;
    font-size: 14px;
  }
  .search-container {
    order: 2;
    width: 90%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 49%;
    transform: translateX(-49%);
  }

  .searchBox {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 400px;
  }

  .logo-link,
  .nav-links {
    order: 1; /* keep them above search */
    width: 90%;
  }
}
